In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split( independent, dependent, test_size=0.30, random_state=0)

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {'kernel':['rbf','poly','sigmoid','linear'],'C':[1,10,50,100,200]}
grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [1, 10, 50, 100, 200],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             verbose=3)

In [16]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'C': 200, 'kernel': 'linear'}: 0.5950448084397433

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.109380,0.009882,0.051897,0.005792,1,rbf,"{'C': 1, 'kernel': 'rbf'}",-0.041843,-0.035206,-0.148244,-0.140044,-0.141968,-0.101461,0.051502,7
1,0.089004,0.009292,0.018105,0.004954,1,poly,"{'C': 1, 'kernel': 'poly'}",-0.043786,-0.002226,-0.134941,-0.142337,-0.131036,-0.090865,0.057060,5
2,0.169909,0.050805,0.031252,0.000002,1,sigmoid,"{'C': 1, 'kernel': 'sigmoid'}",-0.041661,-0.038119,-0.149384,-0.138544,-0.142370,-0.102016,0.050856,8
3,0.109139,0.009887,0.018281,0.005319,1,linear,"{'C': 1, 'kernel': 'linear'}",-0.198935,0.026229,-0.236356,-0.247440,-0.157780,-0.162857,0.099637,19
4,0.106259,0.011698,0.040626,0.007655,10,rbf,"{'C': 10, 'kernel': 'rbf'}",-0.045477,-0.013336,-0.151791,-0.151967,-0.139448,-0.100404,0.059028,6
5,0.095718,0.014595,0.020410,0.009250,10,poly,"{'C': 10, 'kernel': 'poly'}",-0.134216,0.026782,-0.212979,-0.237453,-0.159582,-0.143490,0.092731,13
6,0.142588,0.028700,0.034379,0.006250,10,sigmoid,"{'C': 10, 'kernel': 'sigmoid'}",-0.042877,-0.039512,-0.150154,-0.138492,-0.143396,-0.102886,0.050518,9
7,0.112503,0.006251,0.015624,0.000006,10,linear,"{'C': 10, 'kernel': 'linear'}",-0.099849,0.109498,-0.136196,-0.141381,-0.075432,-0.068672,0.092313,4
8,0.106255,0.006251,0.037501,0.007655,50,rbf,"{'C': 50, 'kernel': 'rbf'}",-0.119173,0.012149,-0.214514,-0.221544,-0.164301,-0.141477,0.085281,12
9,0.094657,0.007771,0.022679,0.008727,50,poly,"{'C': 50, 'kernel': 'poly'}",-0.174414,0.030427,-0.229946,-0.266444,-0.169021,-0.161880,0.102720,18
10,0.125007,0.000003,0.028128,0.006250,50,sigmoid,"{'C': 50, 'kernel': 'sigmoid'}",-0.049151,-0.048913,-0.151316,-0.145925,-0.146513,-0.108364,0.048480,10
11,0.148851,0.016023,0.015629,0.000003,50,linear,"{'C': 50, 'kernel': 'linear'}",0.275861,0.419812,0.224108,0.241250,0.249917,0.282190,0.070811,3
12,0.100006,0.007655,0.050003,0.006250,100,rbf,"{'C': 100, 'kernel': 'rbf'}",-0.158546,0.013775,-0.243127,-0.254520,-0.166782,-0.161840,0.095993,17
13,0.096881,0.006252,0.018751,0.006250,100,poly,"{'C': 100, 'kernel': 'poly'}",-0.176499,0.036989,-0.230291,-0.265222,-0.171039,-0.161212,0.105075,16
14,0.120927,0.006005,0.035174,0.007846,100,sigmoid,"{'C': 100, 'kernel': 'sigmoid'}",-0.059561,-0.063480,-0.155368,-0.152757,-0.160115,-0.118256,0.046401,11
15,0.235031,0.043126,0.012504,0.006252,100,linear,"{'C': 100, 'kernel': 'linear'}",0.477795,0.582292,0.432079,0.458983,0.439511,0.478132,0.054459,2
16,0.108490,0.008992,0.046878,0.000002,200,rbf,"{'C': 200, 'kernel': 'rbf'}",-0.182586,0.013609,-0.253762,-0.268301,-0.174439,-0.173096,0.100520,20
17,0.112505,0.006252,0.018754,0.006252,200,poly,"{'C': 200, 'kernel': 'poly'}",-0.179850,0.041748,-0.225064,-0.261232,-0.168346,-0.158549,0.105486,15
18,0.127824,0.006434,0.031943,0.009982,200,sigmoid,"{'C': 200, 'kernel': 'sigmoid'}",-0.088975,-0.100252,-0.184964,-0.171241,-0.181512,-0.145389,0.041855,14
19,0.339168,0.038665,0.015628,0.009884,200,linear,"{'C': 200, 'kernel': 'linear'}",0.532573,0.629972,0.497787,0.539239,0.500963,0.540107,0.047868,1

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age: 19
BMI: 27.900
Children: 0
sex male 0 or 1: 0
smoker yes 0 or 1: 1

In [15]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

future_prediction=[16307.4280592]

C:\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(