In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split( independent, dependent, test_size=0.30, random_state=0)

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse','poisson'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 100}: 0.8709538642087471

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.106258,0.015311,0.006251,0.007656,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.844527,0.758324,0.796730,0.770694,0.761297,0.786314,0.032095,22
1,0.682293,0.036572,0.025003,0.007654,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.862145,0.768327,0.814750,0.793605,0.774180,0.802602,0.033931,9
2,0.062501,0.000004,0.009376,0.007656,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.819143,0.783665,0.791034,0.804272,0.751070,0.789837,0.022846,21
3,0.587539,0.049018,0.021878,0.007652,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.866209,0.792260,0.808527,0.826538,0.767307,0.812168,0.033313,2
4,0.081257,0.006250,0.009376,0.007656,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.811584,0.786371,0.797513,0.813140,0.746989,0.791119,0.024144,19
5,0.643793,0.022966,0.031252,0.000002,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.855692,0.788714,0.806029,0.825643,0.770308,0.809277,0.029578,8
6,0.303144,0.015935,0.006250,0.007655,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.858661,0.776823,0.786860,0.794450,0.756747,0.794708,0.034387,15
7,2.769024,0.112405,0.037503,0.007656,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.844876,0.777280,0.796815,0.793811,0.764451,0.795447,0.027344,14
8,0.187509,0.009884,0.006251,0.007655,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.851812,0.764618,0.802251,0.800593,0.771328,0.798120,0.030810,12
9,1.715743,0.202880,0.028124,0.006247,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.859278,0.793912,0.808107,0.825200,0.771495,0.811598,0.029637,3
10,0.184386,0.011691,0.006250,0.007655,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.852683,0.767299,0.786417,0.806427,0.770312,0.796627,0.031290,13
11,1.790738,0.150077,0.028131,0.006251,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.856952,0.796481,0.808221,0.824247,0.769025,0.810985,0.029215,5
12,0.100008,0.007655,0.003125,0.006251,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.849448,0.741652,0.810311,0.755208,0.769758,0.785276,0.039478,23
13,0.918811,0.060439,0.031252,0.009882,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861048,0.766558,0.815409,0.789243,0.769495,0.800350,0.035009,11
14,0.084385,0.007660,0.006245,0.007649,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.834171,0.797360,0.789047,0.806910,0.743917,0.794281,0.029408,17
15,0.743797,0.037758,0.034378,0.006249,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.864145,0.790573,0.805239,0.826989,0.770192,0.811427,0.032233,4
16,0.071880,0.007656,0.009376,0.007655,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.832633,0.768102,0.755893,0.787338,0.751029,0.778999,0.029601,24
17,0.559412,0.025002,0.018751,0.006252,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858736,0.793030,0.799526,0.824819,0.770340,0.809290,0.030209,7
18,0.090631,0.006250,0.009376,0.007655,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.861332,0.756776,0.800933,0.774778,0.758574,0.790479,0.038807,20
19,0.918810,0.108888,0.028129,0.006249,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.866988,0.765136,0.805724,0.797754,0.770665,0.801253,0.036313,10
20,0.087505,0.018751,0.012500,0.006250,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.831302,0.791217,0.774006,0.802112,0.757750,0.791278,0.025067,18
21,0.731296,0.015310,0.031254,0.009882,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.861001,0.789034,0.806164,0.825683,0.771633,0.810703,0.030890,6
22,0.090632,0.011692,0.009377,0.007656,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.831448,0.773539,0.782969,0.823312,0.761775,0.794609,0.027708,16
23,0.746924,0.020730,0.028128,0.006250,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.865519,0.790348,0.810832,0.826283,0.768939,0.812384,0.032839,1

In [14]:
import pickle

In [15]:
filename="finalized_model_RF.sav"

In [17]:
pickle.dump(grid,open(filename,'wb'))

In [18]:
loaded_model=pickle.load(open("finalized_model_RF.sav",'rb'))

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))
result=loaded_model.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
result

Age: 19
BMI: 27.900
Children: 0
sex male 0 or 1: 0
smoker yes 0 or 1: 1

C:\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([17134.9313221])