In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {'kernel':['rbf','poly','sigmoid','linear'],'C':[1,10,50,100,200]}
grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent, dependent)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [1, 10, 50, 100, 200],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             verbose=3)

In [10]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'C': 200, 'kernel': 'linear'}:

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.200018,0.011705,0.081254,0.006251,1,rbf,"{'C': 1, 'kernel': 'rbf'}",-0.115390,-0.110235,-0.079858,-0.104068,-0.108358,-0.103582,0.012406,7
1,0.165058,0.012228,0.025000,0.007655,1,poly,"{'C': 1, 'kernel': 'poly'}",-0.093867,-0.073490,-0.065017,-0.092734,-0.112204,-0.087462,0.016613,5
2,0.237791,0.006804,0.056993,0.008369,1,sigmoid,"{'C': 1, 'kernel': 'sigmoid'}",-0.115186,-0.114434,-0.081691,-0.105744,-0.107748,-0.104961,0.012200,8
3,0.165920,0.007317,0.025004,0.012502,1,linear,"{'C': 1, 'kernel': 'linear'}",-0.147592,-0.090685,-0.104805,-0.123874,-0.202393,-0.133870,0.039226,13
4,0.188957,0.005252,0.087505,0.007657,10,rbf,"{'C': 10, 'kernel': 'rbf'}",-0.110409,-0.097459,-0.074488,-0.099597,-0.124428,-0.101276,0.016459,6
5,0.165635,0.007654,0.025002,0.007654,10,poly,"{'C': 10, 'kernel': 'poly'}",-0.125153,-0.081505,-0.111907,-0.131602,-0.179328,-0.125899,0.031794,11
6,0.248744,0.012827,0.055395,0.007130,10,sigmoid,"{'C': 10, 'kernel': 'sigmoid'}",-0.116743,-0.119312,-0.085214,-0.108210,-0.108716,-0.107639,0.012029,9
7,0.184388,0.006307,0.030653,0.008964,10,linear,"{'C': 10, 'kernel': 'linear'}",-0.018943,0.029886,0.022167,0.003112,-0.066653,-0.006086,0.034672,4
8,0.188778,0.012000,0.073223,0.006376,50,rbf,"{'C': 50, 'kernel': 'rbf'}",-0.149805,-0.104791,-0.111901,-0.132742,-0.192323,-0.138313,0.031310,17
9,0.179166,0.011931,0.022267,0.007371,50,poly,"{'C': 50, 'kernel': 'poly'}",-0.134713,-0.084998,-0.131366,-0.142516,-0.192095,-0.137138,0.034079,15
10,0.243604,0.007529,0.048941,0.004128,50,sigmoid,"{'C': 50, 'kernel': 'sigmoid'}",-0.128193,-0.136815,-0.099656,-0.118495,-0.118551,-0.120342,0.012390,10
11,0.312311,0.075224,0.031252,0.000003,50,linear,"{'C': 50, 'kernel': 'linear'}",0.435954,0.433943,0.439067,0.427335,0.391364,0.425533,0.017511,3
12,0.195087,0.008388,0.078129,0.009883,100,rbf,"{'C': 100, 'kernel': 'rbf'}",-0.160182,-0.107253,-0.123430,-0.137753,-0.209551,-0.147634,0.035511,18
13,0.190246,0.013705,0.026801,0.009697,100,poly,"{'C': 100, 'kernel': 'poly'}",-0.132885,-0.082461,-0.129220,-0.139962,-0.189219,-0.134749,0.033948,14
14,0.240308,0.007266,0.046544,0.000664,100,sigmoid,"{'C': 100, 'kernel': 'sigmoid'}",-0.142455,-0.160831,-0.117544,-0.137984,-0.130402,-0.137843,0.014263,16
15,0.383273,0.016750,0.025685,0.006904,100,linear,"{'C': 100, 'kernel': 'linear'}",0.559313,0.521798,0.547691,0.538805,0.508518,0.535225,0.018122,2
16,0.184385,0.006251,0.078129,0.000001,200,rbf,"{'C': 200, 'kernel': 'rbf'}",-0.164374,-0.106426,-0.129065,-0.141841,-0.216445,-0.151630,0.037448,19
17,0.186813,0.008122,0.027913,0.004088,200,poly,"{'C': 200, 'kernel': 'poly'}",-0.128637,-0.078468,-0.125003,-0.135484,-0.182919,-0.130102,0.033205,12
18,0.249795,0.009971,0.053431,0.008040,200,sigmoid,"{'C': 200, 'kernel': 'sigmoid'}",-0.199909,-0.231836,-0.180189,-0.202001,-0.180953,-0.198978,0.018802,20
19,0.665134,0.252974,0.018751,0.006248,200,linear,"{'C': 200, 'kernel': 'linear'}",0.597540,0.557538,0.586781,0.574764,0.555420,0.574409,0.016331,1

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age: 19
BMI: 27.900
Children: 0
sex male 0 or 1: 0
smoker yes 0 or 1: 1

In [14]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

future_prediction=[16885.23382256]

C:\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(